.home-link,
.wls-click,
.wls-row,
.wls-narration-row,
.wls-row-container,
.nav,
a {
  cursor: pointer;
}
.home-link {
  color: #4173dd;
  background-color: #ffffff;
}
header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 250%;
  font-weight: 200;
  text-align: center;
  color: #000000;
  margin-top: .2em;
}
header a:link,
header a:hover,
header a:visited,
header a:active {
  color: #000000;
  text-decoration: none;
}
body {
  text-align: center;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.wls-cell {
  position: relative;
  height: 4em;
  margin: 1em;
  border: 1px dotted #4173dd;
}
.wls-row {
  height: 10em;
  padding: 2em;
  border: 1px dotted green;
}
