.send,
a {
  cursor: pointer;
}
header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 250%;
  font-weight: 200;
  text-align: center;
  color: #000000;
  margin-top: .2em;
}
header a:link,
header a:hover,
header a:visited,
header a:active {
  color: #4173dd;
  text-decoration: none;
}
body {
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.wls-cell {
  height: 10em;
  border: 1px dotted #4173dd;
  text-align: left;
  padding: 1em;
}
.wls-row {
  border: 1px dotted green;
}
.send {
  width: 4em;
  opacity: .6;
  text-align: center;
  border: 1px dotted #ffffff;
  color: #ffffff;
  background-color: #4173dd;
}
